!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Twitoogle"
    
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag :application, :media => "all"
  %body
    .container
      = yield

    = javascript_include_tag :application
    - if Rails.env.development?
      = debug(params)
      = debug(session)

